<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite" >
  
 <test  name="FirefoxTest">
  <parameter name="browser" value="Firefox"/>
    <classes>
    	<class name="test.VerifyCabPage"/>
      <class name="test.VerifyHelpPageLink"/>
       
       
    </classes>
  </test> <!-- Test -->
 
 <test  name="ChromeTest">
  <parameter name="browser" value="Chrome"/>
    <classes>
     <class name="test.VerifyHelpPageLink"/>
     <class name="test.VerifyCabPage"/>
       
    </classes>
  </test> <!-- Test -->
 
 
   
</suite> <!-- Suite -->
